body
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    margin-left: 30px;
    margin-top: 30px;
}
.top
{
    position: absolute;
    text-decoration: none;
    overflow: auto;
    top: 8px;
    right: 16px;
    text-align: right;
}

.top ul 
{
    vertical-align:middle;
    text-decoration: none;
    list-style: none;
    text-align: right;
}

.top ul li
{
    text-align: right;
    top: 2%;
    list-style-type: none;
    text-decoration: none;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}
.top ul li a{
    background-color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    line-height: 70px;
    padding: 3px 10px;
    text-align: right;
    opacity: 0.7;
    letter-spacing:0.2px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
a:link
{
    text-decoration: none;
    color:rgb(2, 2, 2);
    font-size:20px;
}
.top ul li a:hover
{
    text-decoration: none;
    border-bottom: 4px solid #000;
    background-color: rgba(255, 213, 213, 0.747);
    font-size:25px;
    color:rgb(0, 0, 0);;
    transition: 1s;
}

.myVideo 
{
    position: absolute;
    left: 0%;
    top:-10%;
    z-index: -1;
    height: 130%;
    width: 100%;
}

.booking{
    top: -2%;
    left: 30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    background:rgba(0,0,0,0.3);
    text-align: center;
    max-width: 550px;
    width: 520px;
    height: 580px;
    border: 3px solid #ffffff;
    margin: 10% auto 0;
    font-size: 20px;
}
.h1{
    color: #ffffff;
    font-size:45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
}

.r .r1{
    margin: 20px 10px 20px 0;
    box-shadow: none;
    height: 15px;
    width: 15px;
    top: 1px;
    left: 0px;
    position: relative;
    display: inline-block;
    visibility: visible;
    border-radius: 50%;
}
.r span{
    color: #fff;
    margin-right: 5px;
}
.book{
    padding: 0 20px 20px;
}
.book label{
    margin-bottom: 5px;
    margin-top: 10px;
    color: #fff;
}
input::placeholder{
    color: #fff;
}
.book1{
    width: 185px;
    display: inline-block;
}
.t1{
    border-radius: 0;
    color: #fff;
    background:transparent;
    box-shadow:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.t3{
    
    color:#fff;
    border: 1px solid #ced4da;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}
.t3 option{
    color:rgb(0, 0, 0);
}
button{
    text-decoration: none;
    color: #000;
}
.b1{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;
    padding: 9px 5px;
    border: 2px solid #ffffff;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
.b1:link{
    text-decoration: none;
    color: #000;
}
.b1:hover{
    text-decoration: none;
    background: #fff;
    color: #000;
    transition: 0.5s;
}

.haaa{
    margin-top: 48%;
    margin-left: 3%;
}
.haa{
    width: 1300px;
    margin-left: -2%;
    box-shadow: 3px 3px 3px 3px #000;
}
.ha{
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    font-size: 27px;
    position: absolute;
    margin-left: 9%;
    margin-top:-25%;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #000;
}
.h{
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    position: absolute;
    margin-left: 8.5%;
    margin-top:-17.2%;
    font-size: 10px;
    background-color:#ced4da;
    padding: 1px solid #fff;
}
.h:hover{
    font-size: 23px;
}
footer{
    background-color: #000;
    margin-left: -1%;
    position: absolute;
    top: 190%;
    color:#fff;
    height: 50%;
    width: 103%;
    display: inline-block;
}

footer ul{
    color: #fff;
    display: inline-block;
    list-style: none;
   
}

.ul1 li {
    text-decoration: none;
    display: inline-block;
    padding: 40px 100px;
    font-size: 30px;
}

.ul2 {
    color: gray;
    position: absolute;
    left: 7.2%;
    top: 30%;
}

.ul3 {
    color: gray;
    position: absolute;
    left: 31%;
    top: 30%;
}

.ul4 {
    color: gray;
    position: absolute;
    left: 57.5%;
    top: 30%;
}

.ul5 {
    color: gray;
    position: absolute;
    left: 77%;
    top: 30%;
}

.hi{
    color: transparent;
    border: 1px solid #fff;
    padding: 0px 300px;
    width: 80%;
    height: 0%;
    top: 250px;
    position: absolute;
}
.right{
    margin-left: -298px;
    color: #fff;
    margin-top: 1px;
}

.lo{
    margin-top: -30px;
    margin-left: 67%;    
    letter-spacing: 20px;
}